# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/build/
android/key.properties
android/app/*.jks
android/app/*.keystore

# Local artifacts
dist/
temp_*.png
temp_*.jpg
temp_*.jpeg

# QA local dependencies/logs
qa/sauce/node_modules/
qa/sauce/package-lock.json
qa/health/*.txt
# Firebase Functions local deps
functions/node_modules/
functions/.firebase/
# temp artifacts
/temp/
*.zip
*.png
*.jpg
*.jpeg
*.mp4

# local build outputs
/build/
/dist/
/coverage/
